/* your custom css */

div.fixedHeaderContainer {
    background:#2a7778;
}

div.homeSplashFade {
    background:#c8f3fa;
}

div.fixedHeaderContainer header a, div.fixedHeaderContainer header .navigationSlider a  {
/*    
    color:#010002 
*/
}

#whyCcxtRest {
    background: #475b63;
}

#whyCcxtRest table tr:nth-child(2n) {
    background-color: transparent;
}

#whyCcxtRest .blockImage {
    margin-top:5em;
}

.darkBackground code {
    color: lightcyan;
}

#dockerized .alignCenter, #unifiedRestfulApis .alignCenter, #exchangeSpecificParameters .alignCenter, #placeOrders .alignCenter, #whyCcxtRest .alignCenter {
    text-align: left;
}

.mainContainer {
    padding-bottom: 0;
}

#finalCta {
    text-align: center;
    padding-top:5em;
    padding-bottom:10em;
    background:#c8f3fa;
    color: #2a7778;
}

#finalCta .header {
    font-style: italic;
}

a.cta {
    border-width: 5px;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em 2em 0.5em 2em;
    color: #76C6D2;
    background-color: #2a7778;
    border-radius: 20px;
}

a.cta:hover {
    color: #2a7778;
    background-color: #76C6D2;
}

.post article p img {
    display: inline;
}

#redoc {
    padding-top: 50px;
}

@media only screen and (min-width: 360px) {
    #finalCta img {
        min-width:360px;
        width:50%;
    }
    
}

@media only screen and (max-width: 360px) {
    #finalCta img {
        width:100%
    }
}

@media only screen and (min-width: 480px) {
    .projectTitle {
        font-size: 300%;
        line-height: 1.25;
    }
}

@media (max-width: 480px) {
    .headerTitleWithLogo {
        display: block !important;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
}

@media only screen and (max-device-width: 735px) {
    #whyCcxtRest table {
        display: none;
    }

    .tabletAndUp {
        display: none;
    }

    .mobileFriendly {
        display: block;
    }
}

@media only screen and (min-width: 736px) {
    #whyCcxtRest ul {
        display: none;
    }

    .tabletAndUp {
        display: block;
    }

    .mobileFriendly {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
    .navigationSlider .slidingNav ul {
        background:#1f4247;
    }
    
    div.fixedHeaderContainer header a, div.fixedHeaderContainer header .navigationSlider .siteNavGroupActive.siteNavItemActive a {
        color:white;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}