/* your custom css */

div.fixedHeaderContainer {
    background:#76C6D2
}

div.homeSplashFade {
    background:#C9F4FA
}

div.fixedHeaderContainer header a, div.fixedHeaderContainer header .navigationSlider a  {
    color:#010002
}

#whyCcxtRest table tr:nth-child(2n) {
    background-color: transparent;
}

#whyCcxtRest .blockImage {
    margin-top:5em;
}

#dockerized .alignCenter, #unifiedRestfulApis .alignCenter, #exchangeSpecificParameters .alignCenter, #placeOrders .alignCenter, #whyCcxtRest .alignCenter {
    text-align: left;
}

.mainContainer {
    padding-bottom: 0;
}

#finalCta {
    text-align: center;
    padding-top:5em;
    padding-bottom:10em;
    background:#C9F4FA;
    color: #0b0ea9;
}

#finalCta .header {
    font-style: italic;
}

a.cta {
    border-width: 5px;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em 4em 0.5em 4em;
    color: #76C6D2;
    background-color: #0b0ea9;
    border-radius: 20px;
}

a.cta:hover {
    color: #0b0ea9;
    background-color: #76C6D2;
}

#finalCta img {
    width:50%;
}

.post article p img {
    display: inline;
}

#redoc {
    padding-top: 50px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    .navigationSlider .slidingNav ul {
        background:#40EABD;
    }    
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}