<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  {{{redocHead}}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<div class="fixedHeaderContainer"><div class="headerWrapper wrapper"><header><a href="/"><img class="logo" src="/img/favicon.ico" alt="CCXT-REST"><h2 class="headerTitleWithLogo">CCXT-REST</h2></a><div class="navigationWrapper navigationSlider"><nav class="slidingNav"><ul class="nav-site nav-site-internal"><li><a href="/docs/quickstart" target="_self">Quick Start</a></li><li class="siteNavGroupActive siteNavItemActive"><a href="/api.html" target="_self">API</a></li><li class=""><a href="/docs/exchange_api_status" target="_self">Exchange API Status</a></li><li class=""><a href="/docs/community" target="_self">Help</a></li><li class=""><a href="/blog/" target="_self">Blog</a></li></ul></nav></div></header></div></div>

  {{{redocHTML}}}
</body>

</html>
