
# Test Results

[![Build Status](https://travis-ci.org/franz-see/ccxt-rest.svg)](https://travis-ci.org/franz-see/ccxt-rest)

*****
_**Note: We are currenlty in the process of adding more integration tests. If you are working on an exchange and want us to prioritize us writing integration tests for that exchange so that we ensure that it works as expected, please click the button below**_
*****

[![Hire Us](https://img.shields.io/badge/Request%20for%20Integration%20Test-blue.svg)](mailto:hello@adroit.ph?subject=CCXT-REST%20Request%20for%20Integration%20Test)

<iframe src="https://franz-see.github.io/ccxt-rest/" width="50%" height="3000px"></iframe>

[![Hire Us](https://img.shields.io/badge/Request%20for%20Integration%20Test-blue.svg)](mailto:hello@adroit.ph?subject=CCXT-REST%20Request%20for%20Integration%20Test)