
# Test Results

[![Build Status](https://travis-ci.org/franz-see/ccxt-rest.svg)](https://travis-ci.org/franz-see/ccxt-rest)

*****
_**Note: We are currenlty in the process of adding more integration tests. If you are working on an exchange and want us to prioritize us writing integration tests for that exchange so that we ensure that it works as expected, please click the [![Integration Test For a Particular Exchange](https://img.shields.io/badge/Create%20New%20Issue-Integration%20Test%20For%20a%20Particular%20Exchange-blue.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md) button**_
*****

[![Feature Request](https://img.shields.io/badge/Create%20New%20Issue-Feature%20Request-green.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)

[![Integration Test For a Particular Exchange](https://img.shields.io/badge/Create%20New%20Issue-Integration%20Test%20For%20a%20Particular%20Exchange-blue.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)

[![Bug Report](https://img.shields.io/badge/Create%20New%20Issue-Bug%20Report-red.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)

<iframe src="https://franz-see.github.io/ccxt-rest/test-results/" style="width:49%;height:1000px;margin-bottom:2em"></iframe>

[![Feature Request](https://img.shields.io/badge/Create%20New%20Issue-Feature%20Request-green.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)

[![Integration Test For a Particular Exchange](https://img.shields.io/badge/Create%20New%20Issue-Integration%20Test%20For%20a%20Particular%20Exchange-blue.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)

[![Bug Report](https://img.shields.io/badge/Create%20New%20Issue-Bug%20Report-red.svg)](https://github.com/franz-see/ccxt-rest/issues/new?template=integration_test_request.md)